<% provide(:title, 'Perfil') %>

    <div id="contenido" class="container-fluid">
      <div class="row">
        <div class="col-md-1 col-md-push-2">
          <%=image_tag("avatar.png")%>
          
          <%= render 'paginas_estaticas/stars' %>
          
        </div>
        <div class="col-md-3 col-md-push-3">

          <table class="table table-hover">
            <tr>
              <td>Delantera</td>
              <td><a href="equipo.html">@Hooligans <%=image_tag("bandera.png")%></a></td>
            </tr>
            <tr>
              <td>Inscrita en:</td>
              <td><a href="liga.html">@Liga Oceania <%=image_tag("oceania.png")%></a></td>
            </tr>
            <tr>
              <td>Seguidores</td>
              <td>Siguiendo</td>
            </tr>
            <tr>
              <td><a href="amigos.html">85</a></td>
              <td><a href="amigos.html">90</a></td>
            </tr>
          </table>

        </div>

        <div id="acciones" class="col-md-3 col-md-push-4">
          <button id="seguir" type="button" class="btn btn-warning">Seguir</button><br><br>
          <button id="mensaje" type="button" class="btn btn-warning">Mensaje</button><br><br>
          <button type="button" class="btn btn-warning">Invitala a tu equipo</button>
        </div>

      </div>
    </div>

    <div id="seccion" class="container-fluid">
      <div class="row">
        <div class="col-md-1 col-md-push-2"></div>
        <div class="col-md-3 col-md-push-3">
          <div id="main-slider" class="liquid-slider">
            <div>
              <h2 class="title">Calendario</h2>
              <h3 class="text-center">Sábado 12 de Abril</h3>
              <table class="table table-hover">
                <tr>
                  <td><a href="equipo1.html"><%=image_tag("bandera.png")%></a></td>
                  <td>VS </td>
                  <td><a href="#"><%=image_tag("havana.png")%></a> </td>
                </tr>
              </table>
              <p class="text-center"><button type="button" class="btn btn-primary">Detalles del partido</button></p><br><br>

             
              <h3 class="text-center">Sábado 19 de Abril</h3>
              <table class="table table-hover">
                <tr>
                  <td><a href="equipo1.html"><%=image_tag("bandera.png")%></a></td>
                  <td>VS </td>
                  <td><a href="#"><%=image_tag("havana.png")%></a> </td>
                </tr>
              </table>
              <p class="text-center"><button type="button" class="btn btn-primary">Detalles del partido</button></p><br><br>


              <h3 class="text-center">Sábado 26 de Abril</h3>
              <table class="table table-hover">
                <tr>
                  <td><a href="equipo1.html"><%=image_tag("bandera.png")%></a></td>
                  <td>VS </td>
                  <td><a href="#"><%=image_tag("havana.png")%></a> </td>
                </tr>
              </table>
              <p class="text-center"><button type="button" class="btn btn-primary">Detalles del partido</button></p>

            </div>
            <div>
              <h2 class="title">Feed Social</h2>
              <h4><a href="perfil.html">Ale</a></h4>
              <p>A mi me vale, yo no voy a pagar, que me lo comprueben!</p>
              <p id="timestamp">Hace 2 horas</p><br><br>
              <h4><a href="perfil.html">Ale</a></h4>
              <p>La siguiente que falte <a href="#">@Alberto</a> queda fuera del equipo, ya dije.</p>
              <p id="timestamp">Hace 12 horas</p><br><br>
              <h4><a href="perfil.html">Ale</a></h4>
              <p>La neta los del equipo <a href="#">@Havana</a> están bien guapos.</p>
              <p id="timestamp">Hace 3 días</p>
            </div>          
          </div>
        </div>
      </div>
    </div>


    <footer>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.4/jquery.touchSwipe.min.js"></script>
       
      <script>
        $('#main-slider').liquidSlider();
      </script>
    </footer>